@model AssClassLibrary.Entry

<h2>Change</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Entry</legend>

        @Html.HiddenFor(model => model.EntryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectId, "Project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <div class="details-label">
            Date Added
        </div>
        <div class="details-field">
            @Model.DateAdded
        </div>
        <div class="details-label">
            Last Modified
        </div>
        <div class="details-field">
            @Model.LastModified
        </div>

            <input class="btn btn-small btn-primary" type="button" value="Save Changes" onclick="ajaxSubmitForm(this)"/>
            <div id="backLink" class="btn btn-small btn-primary" onclick="requestItem('@Model.EntryId', '/Entry/EntryDisplay')">Back to List</div>
        
    </fieldset>
}

<!-- Set selected input box -->
<script>
    $("#Username").focus();
</script>

<!-- Seperate Form for deleting the item -->
@using (Html.BeginForm("Delete", "Entry", FormMethod.Post))
{
    @Html.HiddenFor(model => model.EntryId)
    <input type="button" value="Delete" class="btn btn-small btn-primary" onclick="ajaxSubmitForm(this)" />
}