@model AssClassLibrary.Entry

<h3>Modifying Authentication Details</h3>

<div class="rightButtonGroup">
    <button type="button" class="btn btn-default btn-inverse" onclick="requestItem('@Model.EntryId', '/Entry/EntryDisplay')">Back</button>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <hr />

    @Html.HiddenFor(model => model.EntryId)

    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectId, "Project")
    </div>
    <div class="editor-field; form-move-right">
        @Html.DropDownList("ProjectId", String.Empty)
        @Html.ValidationMessageFor(model => model.ProjectId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>    
    <div class="editor-label">
        @Html.LabelFor(model => model.DevState, "Development State")
    </div>
    <div class="editor-field; form-move-right">
        @Model.DevState
    </div><br>
    <div class="editor-label">
        @Html.LabelFor(model => model.Website)
    </div>
    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Website)
        @Html.ValidationMessageFor(model => model.Website)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Notes)
    </div>
    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Notes)
        @Html.ValidationMessageFor(model => model.Notes)
    </div>    
    <div class="editor-label">
        @Html.LabelFor(model => model.isArchived)
    </div>    
    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.isArchived)
        @Html.ValidationMessageFor(model => model.isArchived)
    </div>
    <!-- Having hidden fors stop the date modified and added labels changing to default time on validation fail -->
    @Html.HiddenFor(model => model.DateAdded)
    @Html.HiddenFor(model => model.LastModified)
	<br>
    <div class="editor-label">
        Date Added
    </div>
	<div class="editor-field; form-move-right">
		@Model.DateAdded
	</div>	
    <div class="editor-label">
        Last Modified
    </div>
	<div class="editor-field; form-move-right">
		@Model.LastModified
	</div>
    <br>

    <input class="btn btn-small btn-info" type="button" value="Save Changes" onclick="ajaxSubmitForm(this)" />
            
}

<!-- Set selected input box -->
<script>
    $("#Username").focus();
</script>

<!-- Seperate Form for deleting the item -->
@using (Html.BeginForm("Delete", "Entry", FormMethod.Post))
{
    @Html.HiddenFor(model => model.EntryId)
    <input type="button" value="Delete" class="btn btn-small btn-danger" onclick="ajaxSubmitForm(this)" />
}