@model AssClassLibrary.Entry

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/buttonMethods.js"></script>
</head>
<body>
    <div class="containerDiv">
        <div class="headerDiv">
            <img src="/Content/enlighten-logo.png">
        </div>
        <div class="menuDiv">
            <div class="menuItemDiv">@Html.ActionLink("Search", "../Search")</div>
            <div class="menuItemDiv">@Html.ActionLink("Navigate", "../Client")</div>
        </div>
        <div class="contentDiv">

            <fieldset>
                <legend>Entry</legend>

                <b>Username: </b>@Html.DisplayFor(model => model.Username)<br />
                <b>Password: </b>@Html.DisplayFor(model => model.Password)<br />
                <b>Website: </b>@Html.DisplayFor(model => model.Website)<br />
                <b>Notes: </b>@Html.DisplayFor(model => model.Notes)<br />
                <b>Date Added: </b>@Html.DisplayFor(model => model.DateAdded)<br />
                <b>Last Modified: </b>@Html.DisplayFor(model => model.LastModified)<br />
                <b>Last Modified By: </b>@Html.DisplayFor(model => model.LastModifiedBy)<br />
                <b>isArchived: </b>@Html.DisplayFor(model => model.isArchived)<br /><br />
            </fieldset>

            <div id="backLink" class="contentButton" onclick="goBack()"><u>Back to List</u></div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.EntryId })
            </p>
        </div>
        <div class="footerDiv">Authentication Storage System, Enlighten Designs 2013</div>
    </div>
</body>
</html>
