@model IEnumerable<AssClassLibrary.Entry>


    <h3>All Entries</h3>


<div class="rightButtonGroup">
    <button type="button" class="btn btn-default btn-inverse" style="margin-left:20px" onclick="requestItem('@ViewBag.ProjectIdNum', '/Entry/Create')">New Entry</button>
</div>
<br />
<p class="text-muted">@ViewBag.ProjectNotes</p>
<hr />


<table class="table table-bordered">
    <tr class="table-bordered headerRow">
        <th style="width: 300px;">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th style="width: 100px;">isArchived</th>
    </tr>

    @{int counter = 0;}
    @foreach (var item in Model)
    {
        <tr class="@item.DevState" id="@counter" onclick="requestItem('@item.EntryId', '/Entry/EntryDisplay')">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td class="archivetd" onclick="toggleIsArchived('@item.EntryId', 'Entry/toggleIsArchived', $(this).children(), true);">
                <input class="archiveCheckBox" type="checkbox" checked="@item.isArchived" onclick="toggleIsArchived('@item.EntryId', 'Entry/toggleIsArchived', this, false)"/>
            </td>
        </tr>
        counter++;
    }

</table>
