@model AssClassLibrary.Entry

<a onclick="home()"><i class="icon-large icon-home"></i></a>
<p>/ </p>

@if (Model.Project.Client.Name.Length > 30)
{
    <directory onclick="requestItem('@Model.Project.ClientId', '/Project/Index');"><a>
    @{Write(Model.Project.Client.Name.Substring(0, 27));}
    </a></directory>
}
else
{
    <directory onclick="requestItem('@Model.Project.ClientId', '/Project/Index');"><a>
    @{Write(Model.Project.Client.Name);}
    </a></directory>
}
/ 
@if (Model.Project.Name.Length > 30)
{
    <directory onclick="requestItem('@Model.ProjectId', '/Entry/Index');"><a>
        @{Write(Model.Project.Name.Substring(0, 27));}
        @{Write("...");}
        </a></directory>
}
else
{
    <directory onclick="requestItem('@Model.ProjectId', '/Entry/Index');"><a>
        @{Write(Model.Project.Name);}
        </a></directory>    
}
<p>/ </p>
<h3>@Model.Username</h3>

<a onclick="$('#link').show()"><i class="icon-large icon-magnet"></i></a>
<label id="link" style="display:none">/Home/Link/?url=/Entry/EntryDisplay&id=@Model.EntryId</label>
<script> $("#link").text(window.location.origin + $("#link").text()); </script>
<button id="upDirButton" style="display:none" type="button" onclick="requestItem('@Model.ProjectId', '/Entry/Index');"></button>

<div class="rightButtonGroup">
    <button type="button" class="editButton btn btn-default btn-inverse" onclick="requestItem('@Model.EntryId', '/Entry/Change')">Modify Entry</button>
    <button type="button" id="backLink" class="btn btn-default btn-inverse" style="margin-left:20px" onclick="history.back();">Back</button>
</div>
<br />
<p class="text-muted">@Model.Notes</p>
<hr />

<table class="table table-bordered">
    <tr class="table-bordered headerRow">
        <th style="width: 300px;">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th style="width: 300px;">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)

        </th>
    </tr>
    <tr class="@Model.DevState">
        <td onclick="focusTextBox('username');">
            <input type="text" value="@Model.Username" id="username" readonly="true"/>
        </td>
        <td onclick="focusTextBox('password');">
            <input type="text" value="@Model.Password" id="password" readonly="true"/>
        </td>
        <td class="externalLink">
            <a class="externalLink" href="http://@Model.Website">@Model.Website</a>
        </td>
    </tr>
</table>

<script>
    function focusTextBox(element) {
        document.getElementById(element).focus();
        document.getElementById(element).select();
    }
    focusTextBox('password');
</script>
