@model AssClassLibrary.Entry

<script src="~/Scripts/KeyboardNav.js"></script>


<a onclick="window.location.reload();"><i class="icon-large icon-home"></i></a>
<customTag> / </customTag>

@if (Model.Project.Client.Name.Length > 30)
{
    <directory onclick="requestItem('@Model.Project.ClientId', '/Project/Index');"><a>
    @{Write(Model.Project.Client.Name.Substring(0, 27));}
    </a></directory>
}
else
{
    <directory onclick="requestItem('@Model.Project.ClientId', '/Project/Index');"><a>
    @{Write(Model.Project.Client.Name);}
    </a></directory>
}
 / 
@if (Model.Project.Name.Length > 30)
{
        <directory onclick="requestItem('@Model.ProjectId', '/Entry/Index');"><a>
        @{Write(Model.Project.Name.Substring(0, 27));}
        @{Write("...");}
        </a></directory>
}else
{
        <directory onclick="requestItem('@Model.ProjectId', '/Entry/Index');"><a>
        @{Write(Model.Project.Name);}
        </a></directory>    
}
 / 
@Model.Username

<div style="margin-left:445px">
    <div id="backLink" class="btn btn-small btn-primary" onclick="requestItem('@Model.ProjectId', '/Entry/Index')">Back to Project Entries</div>
    <a class="editButton btn btn-small btn-primary" style="margin-left:20px" onclick="requestItem('@Model.EntryId', '/Entry/Change')">Modify</a>
</div>
<hr />

<table class="table table-bordered">
    <tr class="table-bordered headerRow">
        <th style="width:300px;">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th style="width:300px;">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Username)
        </td>
        <td onclick="focusTextBox();">
            <input type="text" value="@Model.Password" id="highlightMe" readonly="true"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Notes)
        </td>
    </tr>
</table>

<script>
    function focusTextBox(){
        document.getElementById('highlightMe').focus();
        document.getElementById('highlightMe').select();
    }
    focusTextBox();
</script>
