@model IEnumerable<AssClassLibrary.Entry>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/buttonMethods.js"></script>
</head>
<body>
    <div class="containerDiv">
        <div class="headerDiv">
            <img src="/Content/enlighten-logo.png"></div>
        <div class="titleDiv">Entries</div>
        <div class="contentDiv">

            <p>
                @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectIdNum })
            </p>

            <h3>@Html.ActionLink("To Clients", "../Client/Index")</h3>

            <h3>@Html.ActionLink("Up", "../Project/Index", new { id = ViewBag.ClientIdNum })</h3>


            <h3>Project: @ViewBag.ProjectName</h3>

            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Website)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isArchived)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isArchived)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="footerDiv">Authentication Storage System, Enlighten Designs 2013</div>
    </div>
</body>
</html>
