@model IEnumerable<AssClassLibrary.Entry>

<script src="~/Scripts/KeyboardNav.js"></script>

<legend>
    <a onclick="requestItem('@ViewBag.ClientIdNum', '/Project/Index')">@ViewBag.ClientName</a>/<u>@ViewBag.ProjectName</u>
    <a class="editButton btn btn-small btn-primary" onclick="requestItem('@ViewBag.ProjectIdNum', '/Project/Change')">Change</a>
</legend>

<a class="editButton" onclick="requestItem('@ViewBag.ProjectIdNum', '/Entry/Create')">Create New</a>
<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Notes)
        </th>
    </tr>

    @{int counter = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td id="@counter" onclick="requestItem('@item.EntryId', '/Entry/EntryDisplay')" onmouseover= "mousedOver(@counter)">
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
        counter++;
    }

</table>
<script>
    initialize();
</script>