@model IEnumerable<AssClassLibrary.Entry>


<legend><a onclick="requestItem('0', '/Client/Index')">Clients</a>/<a onclick="requestItem('@ViewBag.ClientIdNum', '/Project/Index')">@ViewBag.ClientName</a>/<u>@ViewBag.ProjectName</u></legend>
@Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectIdNum })
<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th class="table-bordered th">
            @Html.DisplayNameFor(model => model.Notes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EntryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
            </td>
        </tr>
    }

</table>
