@model AssClassLibrary.Client

<h3>Modifying Client Details</h3>

<div class="rightButtonGroup">
    <button type="button" id="backLink" class="btn btn-default btn-inverse"  onclick="history.back();">Back</button>
</div>
<br>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ClientId)



    <div class="editor-label">
        Client Name       
    </div>

    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    
    <div class="editor-label">
        Notes
    </div>

    <div class="editor-field; form-move-right">
        @Html.EditorFor(model => model.Notes)
        @Html.ValidationMessageFor(model => model.Notes)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.isArchived)
    </div>
    
    <div class="editor-field; form-move-right">

        @Html.EditorFor(model => model.isArchived)
        @Html.ValidationMessageFor(model => model.isArchived)
    </div>
    <br />
        


    <!-- Having hidden fors stop the date modified and added labels changing to default time on validation fail -->
    @Html.HiddenFor(model => model.DateAdded)
    @Html.HiddenFor(model => model.LastModified)

    <div class="editor-label">
        Date Added       
    </div>
    <div class="editor-field; form-move-right">
        @Model.DateAdded
    </div>
    <div class="editor-label">
        Last Modified
    </div>
    <div class="editor-field; form-move-right">
        @Model.LastModified
    </div>

    <br>
    <br>
    <input class="btn btn-small btn-info" type="button" value="Save changes" onclick="ajaxSubmitForm(this)" />
        
}

<!-- Set selected input box -->
<script>
    $("#Name").focus();
</script>

<!-- Seperate Form for deleting the item -->
@using (Html.BeginForm("Delete", "Client", FormMethod.Post))
{

    <input type="button" value="Delete Client" class="btn btn-small btn-danger" onclick="ajaxSubmitForm(this)" />
    @Html.HiddenFor(model => model.ClientId)
    
}


