@model AssClassLibrary.Client

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h3>Creating New Client</h3>
    
    <div class="rightButtonGroup">
        <div id="backLink" class="btn btn-default btn-inverse" onclick="requestItem('0', '/Client/Index')">Back</div>
    </div>
    <br>
    <hr />

    <div class="editor-label">
        Client Name
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Notes)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Notes)
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    <p>
        <input type="button" value="Create" onclick="this.disabled = true; ajaxSubmitForm(this)" class="btn btn-small btn-info" />
    </p>
}

<!-- Set selected input box -->
<script>
    $("#Name").focus();
</script>

