@model IEnumerable<AssClassLibrary.Client>

<h4>Clients</h4>
<a onclick="requestItem('0', '/Client/Create')">Create New</a>

<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">Client Name</th>
        <th class="table-bordered th">Notes</th>
        <th class="table-bordered th"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="rowHighlight">
            <td onclick="requestItem('@item.ClientId', '/Project/Index')">
                @item.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
            </td>
        </tr>
    }
</table>