@model IEnumerable<AssClassLibrary.Client>


<h3>All Clients</h3>

<div class="rightButtonGroup">
    <button type="button" class="btn btn-default btn-inverse" onclick="requestItem('0', '/Client/Create')">New Client...</button>
</div>
<br>
<hr />


<table class="table table-bordered">
    <tr class="table-bordered headerRow">
        <th style="width: 300px;">Client Name</th>
        <th style="width: 100px;">isArchived</th>
    </tr>
    @{int counter = 0;}
    @foreach (var item in Model)
    {
        <tr id="@counter">
            <td onclick="requestItem('@item.ClientId', '/Project/Index')">
                @item.Name
            </td>
            <td>
                <input type="checkbox" value="@item.isArchived" onclick="toggleIsArchived('@item.ClientId');"/>
                @item.isArchived
            </td>
        </tr>
        counter++;
    }
</table>
