

@model IEnumerable<AssClassLibrary.Client>

@{
    ViewBag.Title = "Search";
}


<h2>Results</h2>

<p>
    <p></p>
    @Html.ActionLink("Search", "Search")
    (Only searches Clients for "asd")
    <p></p>
    TESTING:
    <p></p>
    Title: (@ViewBag.Title)
    <p></p>
    Test: (@ViewBag.test)
    <p></p>
    Number: (@ViewBag.Number)
    <p></p>
    Finished testing
</p>
<h3>All clients</h3>
<table>
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.Name)-->
            Client Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isArchived)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--@Html.DisplayFor(modelItem => item.Name)-->
                @Html.ActionLink(item.Name, "../Project/Index", new { id=item.ClientId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isArchived)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
