<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<h3>Clients</h3>

@if (ViewData["clientResults"] != null)
{ 
    <table class="table table-bordered">
        <tr>
            <th class="table-bordered th">Client Name
            </th>
            <th class="table-bordered th">Notes
            </th>
            <th class="table-bordered th"></th>
        </tr>
        @foreach (var item in (List<AssClassLibrary.Client>)ViewData["clientResults"])
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "../Project/Index", new { id = item.ClientId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Client/Edit", new { id = item.ClientId }) |
                    @Html.ActionLink("Details", "../Client/Details", new { id = item.ClientId }) |
                    @Html.ActionLink("Delete", "../Client/Delete", new { id = item.ClientId })
                </td>
            </tr>
        }
    </table>
}

<h3>Projects</h3>

@if (ViewData["projectResults"] != null)
{ 
    <table class="table table-bordered">
        <tr>
            <th class="table-bordered th">Project Name
            </th>
            <th class="table-bordered th">Notes
            </th>
            <th class="table-bordered th"></th>
        </tr>
        @foreach (var item in (List<AssClassLibrary.Project>)ViewData["projectResults"])
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "../Entry/Index", new { id = item.ProjectId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Project/Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "../Project/Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "../Project/Delete", new { id = item.ProjectId })
                </td>
            </tr>
        }
    </table>
}

<h3>Entries</h3>

@if (ViewData["entryResults"] != null)
{ 
    <table class="table table-bordered">
        <tr>
            <th class="table-bordered th">Username
            </th>
            <th class="table-bordered th">Password
            </th>
            <th class="table-bordered th">Notes
            </th>
            <th class="table-bordered th">Website
            </th>
            <th class="table-bordered th"></th>
        </tr>
        @foreach (var item in (List<AssClassLibrary.Entry>)ViewData["entryResults"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Entry/Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "../Entry/Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "../Entry/Delete", new { id = item.ProjectId })
                </td>
            </tr>
        }
    </table>
}


