@{
    ViewBag.Title = "Search Results";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="containerDiv">
        <div class ="headerDiv"><img src="/Content/enlighten-logo.png"></div>
        <div class="menuDiv">
            <div class="menuItemDiv menuItemDivIdle">Create new...</div>
            <div class="menuItemDiv menuItemDivIdle">Search</div>
            <div class="menuItemDiv menuItemDivIdle">Clients</div>
            <div class="menuItemDiv menuItemDivIdle">Projects</div>
        </div>
        <div class="contentDiv">
<p>Results</p>

    <h1>Clients</h1>
    @if (ViewData["clientResults"] != null)
    {
        foreach (var item in (List<AssClassLibrary.Client>)ViewData["clientResults"]) {
            <p>@item.Name</p>
        }
    }
    <h1>Projects</h1>
    @if (ViewData["projectResults"] != null)
    {
        foreach (var item in (List<AssClassLibrary.Project>)ViewData["projectResults"])
        {
            <p>@item.Name</p>
        }
    }
    <h1>Entries</h1>
    @if (ViewData["entryResults"] != null)
    {
        foreach (var item in (List<AssClassLibrary.Entry>)ViewData["entryResults"])
        {
            <p>@item.Username</p>
        }
    }

    @Html.ActionLink("Home", "../Client")

</div>
     <div class ="footerDiv">Authentication Storage System, Enlighten Designs 2013</div>
    </div>
</body>
</html>