@model AssClassLibrary.Project

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Project</legend>

        <!-- Client name (default value = current client) -->
            <div class="editor-label">
            @Html.LabelFor(model => model.ClientId, "Client")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientId")
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>

        <!-- Propject name -->
        <div class="editor-label">
            Project @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <!-- Notes for project -->
        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="button" value="Create" onclick="ajaxSubmitForm(this)" class="btn btn-small btn-primary"/>
        </p>
    </fieldset>
}

<div id="backLink" class="contentButton" onclick="requestItem('@ViewBag.ClientIdNum', '/Project/Index')"><u>Back to List</u></div>

