@model IEnumerable<AssClassLibrary.Project>


    <h3>All Projects</h3>




<div class="rightButtonGroup">
    <button type="button" class="editButton btn btn-default btn-inverse" onclick="requestItem('@ViewBag.ClientId', '/Client/Change')">Modify Client</button>
    <button type="button" class="btn btn-default btn-inverse" style="margin-left:20px" onclick="requestItem('@ViewBag.ClientId', '/Project/Create')">New Project...</button>
</div>
<br />
<p class="text-muted">@ViewBag.ClientNotes</p>
<hr />

<table class="table table-bordered">
    <tr class="table-bordered headerRow">
        <th style="width: 300px;">Project Name</th>
    </tr>
    @{int counter = 0;}
    @foreach (var item in Model)
    {
        <tr id="@counter" onclick="requestItem('@item.ProjectId', '/Entry/Index')">
            <td>
                @item.Name
            </td>
        </tr>
        counter++;
    }

</table>
