@model IEnumerable<AssClassLibrary.Project>

<script src="~/Scripts/KeyboardNav.js"></script>

<legend><a onclick="requestItem('0', '/Client/Index')">Clients</a>/<u>@ViewBag.ClientName</u></legend>

<a style="display:none" class="editButton" onclick="requestItem('@ViewBag.ClientId', '/Project/Create')">Create New</a>

<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">Project Name</th>
        <th class="table-bordered th">Notes</th>
        <th style="display:none" class="table-bordered th editButton"></th>
    </tr>
    @{int counter =0;}
    @foreach (var item in Model)
    {
        <tr>
            <td id="@counter" onclick="requestItem('@item.ProjectId', '/Entry/Index')">
                @item.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            <td style="display:none" class="editButton" onclick="requestItem('@item.ProjectId', '/Project/Change')">
                Change
            </td>
        </tr>
        counter++;
    }

</table>
